<html>
    <head>
        <title>{$title}</title>
    </head>
    <body>
        <ul>
            <li>Jmeno {$form->values->name}</li>
            <li>Mail {$form->values->mail}</li>
        </ul>
        <p>{$form->values->text}</p>
            
    </body>
    

</html>